@media screen and (min-width: 750px) {
    :root {
        background:#000
    }

    html {
        font-size: 28px
    }

    body {
        background: #fff
    }
}

@media screen and (max-width: 749px) {
    html {
        font-size:27.6316px
    }
}

@media screen and (max-width: 739px) {
    html {
        font-size:27.2632px
    }
}

@media screen and (max-width: 729px) {
    html {
        font-size:26.8948px
    }
}

@media screen and (max-width: 719px) {
    html {
        font-size:26.5264px
    }
}

@media screen and (max-width: 709px) {
    html {
        font-size:26.158px
    }
}

@media screen and (max-width: 699px) {
    html {
        font-size:25.7896px
    }
}

@media screen and (max-width: 689px) {
    html {
        font-size:25.4212px
    }
}

@media screen and (max-width: 679px) {
    html {
        font-size:25.0528px
    }
}

@media screen and (max-width: 669px) {
    html {
        font-size:24.6844px
    }
}

@media screen and (max-width: 659px) {
    html {
        font-size:24.316px
    }
}

@media screen and (max-width: 649px) {
    html {
        font-size:23.9476px
    }
}

@media screen and (max-width: 639px) {
    html {
        font-size:23.5792px
    }
}

@media screen and (max-width: 629px) {
    html {
        font-size:23.2108px
    }
}

@media screen and (max-width: 619px) {
    html {
        font-size:22.8424px
    }
}

@media screen and (max-width: 609px) {
    html {
        font-size:22.474px
    }
}

@media screen and (max-width: 599px) {
    html {
        font-size:22.1056px
    }
}

@media screen and (max-width: 589px) {
    html {
        font-size:21.7372px
    }
}

@media screen and (max-width: 579px) {
    html {
        font-size:21.3688px
    }
}

@media screen and (max-width: 569px) {
    html {
        font-size:21.0004px
    }
}

@media screen and (max-width: 559px) {
    html {
        font-size:20.632px
    }
}

@media screen and (max-width: 549px) {
    html {
        font-size:20.2636px
    }
}

@media screen and (max-width: 539px) {
    html {
        font-size:19.8952px
    }
}

@media screen and (max-width: 529px) {
    html {
        font-size:19.5268px
    }
}

@media screen and (max-width: 519px) {
    html {
        font-size:19.1584px
    }
}

@media screen and (max-width: 509px) {
    html {
        font-size:18.79px
    }
}

@media screen and (max-width: 499px) {
    html {
        font-size:18.4216px
    }
}

@media screen and (max-width: 489px) {
    html {
        font-size:18.0532px
    }
}

@media screen and (max-width: 479px) {
    html {
        font-size:17.6848px
    }
}

@media screen and (max-width: 469px) {
    html {
        font-size:17.3164px
    }
}

@media screen and (max-width: 459px) {
    html {
        font-size:16.948px
    }
}

@media screen and (max-width: 449px) {
    html {
        font-size:16.5796px
    }
}

@media screen and (max-width: 439px) {
    html {
        font-size:16.2112px
    }
}

@media screen and (max-width: 429px) {
    html {
        font-size:15.8428px
    }
}

@media screen and (max-width: 419px) {
    html {
        font-size:15.4744px
    }
}

@media screen and (max-width: 409px) {
    html {
        font-size:15.106px
    }
}

@media screen and (max-width: 399px) {
    html {
        font-size:14.7376px
    }
}

@media screen and (max-width: 389px) {
    html {
        font-size:14.3692px
    }
}

@media screen and (max-width: 379px) {
    html {
        font-size:14.0008px
    }
}

@media screen and (max-width: 369px) {
    html {
        font-size:13.6324px
    }
}

@media screen and (max-width: 359px) {
    html {
        font-size:13.264px
    }
}

@media screen and (max-width: 349px) {
    html {
        font-size:12.8956px
    }
}

@media screen and (max-width: 339px) {
    html {
        font-size:12.5272px
    }
}

@media screen and (max-width: 329px) {
    html {
        font-size:12.1588px
    }
}

img,button {
    border: 0
}

.offscreen {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    background-color: pink
}

body {
    font-family: Roboto, "Noto Sans KR", AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Droid sans,  sans-serif;
    font-weight: 400;
    letter-spacing: -0.7px;
}
.completion-container {
    padding: 5.92857143rem 1.14285714rem 4.28571429rem;
}

.completion-container .completion-group {
    padding: 0 1.42857143rem 0;
}

.completion-container .completion-group .icon.type-check {
    background-image: url(./img/img-wel.png);
}
.completion-container .completion-group .icon {
    display: block;
    width: 6.42857143rem;
    height: 6.42857143rem;
    background-repeat: no-repeat;
    background-size: 6.42857143rem auto;
    margin-bottom: 1.25rem;
}

.completion-container .completion-group .completion-head {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    font-size: 1rem;
    font-size: 2.14285714rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-style: normal;
    line-height: 2.67857143rem;
    letter-spacing: -.05357143rem;
    padding-bottom: .35714286rem;
}

.completion-container .completion-group {
    padding: 0 1.42857143rem 0;
}

.completion-container .completion-group .completion-body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    font-size: 1rem;
    font-size: 1.42857143rem;
    color: #333;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85714286rem;
    margin-top: 3.39285714rem;
    margin-bottom: 3.57142857rem;
}

.bottom-btn-wrap {
    bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9997;
    background-color: #fff;
}

   .bottom-btn-wrap.space {
    padding: .71428571rem 1.14285714rem 1.42857143rem;
}

.btn-line-gray {
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: -.03571429rem;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    height: 3.14285714rem;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #ddd;
    border-radius: .28571429rem;
    box-sizing: border-box;
    outline: none;
}

.bottom-btn-wrap .btn-line-gray {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 3.71428571rem;
    font-size: 1.14285714rem;
}